{% extends 'raccourcis/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'profile_utilisateur/css/profile.css' %}">  
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Mon Profil</h1>
    
    <div class="profil-info">
        <h2>Mes Informations</h2>
        <p><strong>Nom :</strong> {{ user.username }}</p>
        <p><strong>Email :</strong>  {{ user.email }}</p>
        <p><strong>Numéro :</strong>  {{ user.profile.telephone }}</p> 
        <p><strong>Ville ou Adresse :</strong>  {{ user.profile.ville }}</p>  
    </div>
    
    <div class="reservations-info">
        <h2>Mes Réservations</h2>
        <p>Nombre de réservations : {{ nombre_reservations }}</p>
        <p><a href="{% url 'biens_reserves' %}" class="btn btn-primary">Voir mes réservations</a></p>
    </div>


    <div class="biens-info">
        <h2>Mes Biens Créés</h2>
        <p>Nombre de biens créés : {{ nombre_biens }}</p>
        <p><a href="{% url 'mes_biens' %}" class="btn btn-primary">Voir mes biens</a></p>
        <p><a href="{% url 'creer_bien' %}" class="btn btn-primary">Créer un Bien</a></p>
    </div>

    <div class="reservations-info">
        <a href="{% url 'liste_biens' %} " class="btn btn-success">Voir les Biens Disponibles</a>
    </div>
</div>
{% endblock %}
