/* Style général pour le header */
header {
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 60px; /* Ajuste la taille du logo */
    margin-right: 10px;
}

/* Conteneur de recherche */
.search-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: 600px;
    margin: 0 20px;
}

.search-container select,
.search-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.search-container select {
    margin-right: 10px;
}

.search-container input {
    flex-grow: 1;
    margin-right: 10px;
}

.search-container button {
    padding: 10px;
    background-color: orange; /* Couleur de fond orange */
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Coins arrondis */
    color: white; /* Couleur du texte */
    cursor: pointer; /* Curseur en main */
}

.search-container button i {
    font-size: 18px; /* Taille de l'icône de recherche */
}

/* Section utilisateur et panier */
.nav-icons {
    display: flex;
    align-items: center;
}

.user-name {
    margin-left: 10px; /* Espace à gauche du nom d'utilisateur */
    font-weight: bold; /* Mettre le nom d'utilisateur en gras */
    color: #333; /* Couleur du texte */
    font-size: 25px; /* Ajuste la taille du texte */
}

.nav-icons a {
    color: #333; /* Couleur du lien d'utilisateur */
    font-size: 30px; /* Taille de l'icône */
    margin-left: 10px; /* Espace à gauche */
}

.nav-icons a:hover {
    color: orange; /* Couleur au survol */
}

/* Bouton "Mon Compte" */
.btn-secondary {
    background-color: orange; /* Couleur de fond */
    border: none; /* Pas de bordure */
    color: white; /* Couleur du texte */
}

