{% extends 'raccourcis/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Mes Biens Réservés</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Bien</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Date de réservation</th>
                
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
                <tr>
                    <td> <a href="{% url 'annuler_reservation' reservation.id %}">Annuler</a></td>
                    <td>{{ reservation.bien.titre }}</td>  <!-- Affiche le titre du bien réservé -->
                    <td>{{ reservation.date_debut }}</td>  <!-- Date de début de la réservation -->
                    <td>{{ reservation.date_fin }}</td>    <!-- Date de fin de la réservation -->
                    <td>{{ reservation.date_creation }}</td>  <!-- Date de création de la réservation  cela correspond aussi a la date ou il a payer--> 
                    <td>(Statut: {{ reservation.get_status_display }})</td>  <!-- Date de création de la réservation  cela correspond aussi a la date ou il a payer--> 
                    <a href="{% url 'creer_session_paiement' reservation.id %}" class="btn btn-primary">Payer maintenant</a>
                    
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">Aucune réservation trouvée.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
